body, div, input, select, button {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0 20px;
}
main {
    display: grid;
    grid-template-columns: auto 300px;
}
.content {
    padding-right: 1em;
}
h1{
    padding:0 0.5rem ;
    margin-bottom: 1rem;
}
hr {
    margin: 20px 0;
}
.link-to-github{
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #6E24B2;
    text-decoration: none;
    border-radius: 0.25rem;
    position: absolute;
    right: 20px;
    top: 20px;
}
label {
    /* margin-right: 3ex; */
    /* white-space: nowrap; */
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}
select{
    background: #ddd;
}
#svg-render{
    overflow-x: auto;
}
svg {
    margin: 20px 0;
    overflow: visible;
}

textarea {
    min-height: 300px;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    border-radius: 0.25rem;
    padding:0.5rem 0.875rem;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ccc;
    transition: 0.3s ease-out;
    
}
textarea:focus{
    border-color: #FF7F50;
}
.buttons-container{
    margin: 1rem 0;
    
}
.btn{
    display: inline-block;
    padding: 1rem 1.375rem ;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #FF7F50;  /* coral color*/
    color: #fff;
    border: 0px;
    border-radius: .25rem;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s ease-out;
}
.btn:hover,.btn:focus{
    background-color: #0000;  /* dark coral color*/
    border-color: #FF7F50;
    color: #FF7F50;
}
.input-holder{
    margin-bottom: .875rem ;
    display: inline-block;
    /* white-space:nowrap; */
    box-shadow: 0 6px 12px #0002;
    padding: 0.625rem;
    border-radius: 0.25rem;
    max-width: 100%;
    background-color: #fff
}
.input{
    padding: 0.375rem 0.5rem;
    border: 2px solid #d4d6d5 ; /* coral color*/
    border-radius: 0.25rem;
    outline: none;
    display: inline-block;
    /* margin-left: 0.25rem; */
    font-size: .9rem;
    
}
.input:focus{
    border: 2px solid #FF7F50;
}
